
/* Main Container */
.container {
  padding: 0;
  background-color: #e5e5e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Heading Styles */
.heading {
  font-size: 3.5rem;
  color: #333;
  margin-bottom: 1rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 2rem;
  opacity: 0.8;
}

/* Image Container using Flexbox */
.imageGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1000px;
  min-width: 300px;
}

/* Individual Image Link */
.imageLink {
  text-decoration: none;
  color: inherit;
  width: 15rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageLink:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* Image Styling */
.image {
  width: 100%;
  height: 200px; 
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* Text below the image */
.imageText {
  padding: 1rem;
  font-size: 1.2rem;
  color: #333;
  /* background-color: #f4f4f4; */
  width: 100%;
  text-align: center;
}

/* Footer Styling */
.footer {
  margin-top: 3rem; 
  width: 100%;
  font-size: 0.9rem;
  color: #675f5f;
  opacity: 0.6;
  text-align: center;
}

.footer p {
  margin: 0.3rem;
}
